<div class="navbar-wrapper">
    <div class="navbar navbar-inverse bg-inverse" role="navigation">
        <div class="container">

            <div class="navbar-header" >
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ui-sref="app"><img src="images/logo.png" height=30 width=41></a>
                <a class="navbar-brand" href="#/">Re-Viewz</a>

            </div>
            <div id="navbar" class="navbar-collapse collapse">

                <ul class="nav navbar-nav">
                    <li data-toggle="collapse" data-target=".navbar-collapse"
                        ng-class="{active: stateis('app')}"><a ui-sref="app">Home</a></li>
                    <li data-toggle="collapse" data-target=".navbar-collapse"
                        ng-class="{active: stateis('app.restaurants')}"><a ui-sref="app.restaurants">Restaurants</a></li>
                    <li data-toggle="collapse" data-target=".navbar-collapse"
                        ng-class="{active: stateis('app.users')}"><a ui-sref="app.users">Users</a></li>
                    <li data-toggle="collapse" data-target=".navbar-collapse"
                        ng-class="{active: stateis('app.about')}"><a ui-sref="app.about">About</a></li>
                    <li data-toggle="collapse" data-target=".navbar-collapse"
                        ng-class="{active: stateis('app.contact')}"><a ui-sref="app.contact">Contact</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <!--<li>
                        <form class="form-inline">
                            <input class="form-control mr-sm-2" type="text" placeholder="Search">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        </form>
                    </li>-->
                    <li ng-if="!loggedIn">
                        <a ng-click="clickToOpen()">
                            <span class="glyphicon glyphicon-log-in"></span> Login</a>
                    </li>
                    <li ng-if="loggedIn">
                        <a>{{username}}</a>
                    </li>
                    <li ng-if="loggedIn">
                        <a ng-click="logOut()">
                            <span class="glyphicon glyphicon-log-in"></span> Logout</a>
                    </li>
                </ul>
            </div>


        </div>
    </div>
</div>
